[submodule "src/contract/lib/forge-std"]
	path = src/contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "src/contract/lib/openzeppelin-contracts"]
	path = src/contract/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "src/contract/lib/protocol"]
	path = src/contract/lib/protocol
	url = https://github.com/UMAprotocol/protocol
